
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = TempData.PeekExt<User>(nameof(User));

}

<link href="~/css/ProductsStyle.css" rel="stylesheet" />

@model IEnumerable<OnlineST.Models.Product>

<div class="d-flex flex-row flex-wrap margin5px">
    @foreach (Product product in Model)
    {
        <div class="border border-2 card-product margin5px">
            @*produtos*@
            @{
                var imageUrl = @Url.Action("ConvertToImageSRC", "RegisterProducts", new { Id = product.Id });
                <img class="spacing img" src="@imageUrl" alt="@string.Format("image{0}.png", product.Id)"/>
            }

            @*@if (user.UserType == UserType.None)
                {*@
            <a class="material-icons FontIcon" asp-controller="RegisterProducts" asp-action="Delete"
               asp-route-Id="@product.Id">delete</a>
            @*}*@

            <div class="container">
                <label class="spacing row center">@product.Name</label>
                <label class="spacing row">@product.Price</label>
                <div class="spacing row overflow-auto cardContent">
                    <label>@product.Description</label>
                </div>
            </div>
        </div>
    }

    @*botão de adicionar novo produto*@
    @*centralizar o botão(e remover a borda da div depois)*@
    <div class="container margin10px   border border-5 border-dark">

        <a class=" ConfirmationButton" asp-controller="RegisterProducts" asp-action="Create">
            Novo Produto
        </a>
    </div>
</div>


