<style>
    .pagination {
        display: inline-block;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            font-size: 20px;
            margin: 0 3px;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border-radius: 5px;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
                border-radius: 5px;
            }

    .centerText {
        text-align: center;
    }

    .margin20px {
        margin: 20px;
    }
</style>

@model OnlineST.Models.Pagination.IPaginationModel;

<div class="centerText margin20px">
    <div class="pagination">

        @if (Model.PaginatedCollection.PreviousPage)
        {
            int previousPage = Model.PaginatedCollection.PageNumber - 1;

            <a asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-page="@previousPage ">&laquo;</a>
            <a asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-page="@previousPage">@previousPage</a>
        }

        <a class="active" asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" 
           asp-route-page="@Model.PaginatedCollection.PageNumber">@Model.PaginatedCollection.PageNumber</a>


        @*@for (int i = Model.PageNumber; i < Model.TotalPages; i++)
        {
            if()

            <a class="active" asp-controller="Products" asp-action="Index" asp-route-page="@i">@i</a>
        }*@

        @if (Model.PaginatedCollection.NextPage)
        {
            int nextPage = Model.PaginatedCollection.PageNumber + 1;
            
            <a asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-page="@nextPage">@nextPage</a>
            <a asp-controller="@Model.ControllerName" asp-action="@Model.ActionName" asp-route-page="@nextPage">&raquo;</a>
        }
    </div>
</div>
