
@{
    ViewData["Title"] = "Fazer login ou criar conta";
    Layout = "~/Views/Shared/_Layout.cshtml";


}


<link href="~/css/LoginStyle.css" rel="stylesheet" />

@model OnlineST.Models.ViewModel.UserViewModel

<div class="d-flex flex-wrap flex-row marginTop10px gap-3 h-100 w-100 justify-content-center">

    <form class="form" method="post" style="height:400px;">
        <h3>Criar conta</h3>
        <div class="d-flex fixedFlexColumn flex-column gap-3">

            <input class="align-self-center text-center" type="email" placeholder="Email"
                   asp-for="Email" />

            <input class="align-self-center text-center" type="password" placeholder="Senha"
                   asp-for="Password" />

            <input class="align-self-center text-center" type="password" placeholder="Confirmar senha"
                   asp-for="ConfirmPassword" />

            <div class="d-flex flex-row center gap-3">
                @foreach (var item in Model.SelectedUserTypes)
                {
                    <div class="radioDiv" onclick="DivRadioClick('@item.UserTypeName')">

                        @*se recusou a funcionar*@
                        @*<input id="@item.UserTypeName" class="margin5px" type="radio" name="UserType"
                            asp-for="selectedUserType" value="@item.UserType"/>*@

                        @*funciona, mas a seleção padrão não, descobrir o que é*@
                        @Html.RadioButtonFor(p => p.selectedUserType, item.UserType, new { id = item.UserTypeName, @checked=item.IsSelected })
                        <label>@item.UserTypeName</label>
                    </div>
                }
            </div>

            <button class="button" type="submit" asp-controller="Account" asp-action="CreateAccount">Criar conta</button>
        </div>
    </form>
    <form class="form" method="post" style="height:400px;">
        <h3>Logar</h3>
        <div class="d-flex fixedFlexColumn flex-column gap-3 h-100">

            <input class="align-self-center text-center" type="email" placeholder="Email"
                   asp-for="Email" />
            <input class="align-self-center text-center" type="password" placeholder="Senha"
                   asp-for="Password" />

            <button class="button" type="submit" asp-controller="Account" asp-action="Login">Logar</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="~/js/site.js"></script>
