
@{
    ViewData["Title"] = "Fazer login ou criar conta";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var messageVM = TempData.GetExt<MessageViewModel>(nameof(MessageViewModel));
    MessageType messageType = messageVM != null ? messageVM.MessageType : MessageType.none;
}

@using OnlineST.Models.ViewModel;

<link href="~/css/LoginStyle.css" rel="stylesheet" />

@model OnlineST.Models.ViewModel.UserViewModel

<div class="d-flex flex-wrap flex-row marginTop10px gap-3 h-100 w-100 justify-content-center">

    <form class="form" method="post" style="height:400px;">
        <h3>Criar conta</h3>
        <div class="d-flex fixedFlexColumn flex-column gap-3">

            <input class="align-self-center text-center" type="email" placeholder="Email"
                   asp-for="Email" />

            <input class="align-self-center text-center" type="password" placeholder="Senha"
                   asp-for="Password" />

            <input class="align-self-center text-center" type="password" placeholder="Confirmar senha"
                   asp-for="ConfirmPassword" />

            <div class="d-flex flex-row center gap-3">
                @foreach (var item in Model.SelectedUserTypes)
                {
                    <div class="radioDiv" onclick="DivRadioClick('@item.UserTypeName')">

                        @*se recusou a funcionar*@
                        @*<input id="@item.UserTypeName" class="margin5px" type="radio" name="UserType"
                            asp-for="selectedUserType" value="@item.UserType"/>*@

                        @Html.RadioButtonFor(p => p.selectedUserType, item.UserType, new { id = item.UserTypeName, @checked = item.IsSelected })
                        <label>@item.UserTypeName</label>
                    </div>
                }
            </div>


            @if (messageVM?.FormType == FormType.CreateAccount)
            {
                <div class="alert alert-@messageType border-@messageType center">
                    <span>@messageVM.Message</span>
                </div>
            }

            <button class="button" type="submit" asp-controller="Account" asp-action="CreateAccount">Criar conta</button>
        </div>
    </form>
    <form class="form" method="post" style="height:400px;">
        <h3>Logar</h3>
        <div class="d-flex fixedFlexColumn flex-column gap-3 h-100">

            <input class="align-self-center text-center" type="email" placeholder="Email"
                   asp-for="Email" />
            <input class="align-self-center text-center" type="password" placeholder="Senha"
                   asp-for="Password" />

            @if (messageVM?.FormType == FormType.Login)
            {
                <div class="alert alert-@messageType border-@messageType center">
                    <span>@messageVM.Message</span>
                </div>
            }

            <div>
                <input id="checkRememberMe" class="form-check-input" type="checkbox" asp-for="RememberMe" />
                <label onclick="DivCheckboxClick('checkRememberMe')">Lembrar login</label>
            </div>
            <div class="h-100" >

                <button style="width:100%;" class="button " type="submit" asp-controller="Account" asp-action="Login">Logar</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="~/js/site.js"></script>
