
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = TempData.PeekExt<User>(UserSessionConst.Email);

}

<link href="~/css/ProductsStyle.css" rel="stylesheet" />

@model OnlineST.Models.Pagination.PaginatedCollection<OnlineST.Models.Product>

<div class="d-flex flex-row flex-wrap margin5px">
    @foreach (Product product in Model.Collection)
    {
        <div class="border border-2 card-product margin5px">
            @*produtos*@
            @{
                var imageUrl = @Url.Action("ConvertToImageSRC", "Products", new { Id = product.Id });


                <img class="border border-3 border-color spacing img border-radius" src="@imageUrl" alt="@string.Format("image{0}.png", product.Id)" />
            }

            @if (user?.UserType == UserType.Admin)
            {
                <a class="material-icons FontIcon marginTop10px align-self-end" asp-controller="Products" asp-action="Delete"
                   asp-route-Id="@product.Id">delete</a>
            }

            <div class="margin5px">
                <div class="d-flex flex-column">
                    <h4 class="spacing row marginTop10px center">@product.Name</h4>
                    <h5 class="spacing row marginTop10px end">R$@product.Price</h5>
                    <div class="spacing row overflow-auto cardContent marginTop10px">
                        <label>@product.Description</label>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (user?.UserType == UserType.Admin)
    {
        @*botão de adicionar novo produto*@
        @*centralizar o botão(e remover a borda da div depois)*@
        <div class="container margin10px">

            <a class=" button" asp-controller="Products" asp-action="Create">
                Novo Produto
            </a>
        </div>
    }
</div>


