
@{
    Layout = "~/Views/Shared/_Layout.cshtml";


    User user = _userSessionService.TryGetUserSessionByEmail();

}

<link href="~/css/ProductsStyle.css" rel="stylesheet" />
@inject OnlineST.Services.UserSessionService _userSessionService
@inject OnlineST.Repository.IBaseRepository<Product> _productRepository

@model OnlineST.Models.Pagination.PaginatedCollection<OnlineST.Models.Product>
@using OnlineST.Models.ViewModel.Modal


<div class="d-flex flex-row flex-wrap margin5px">
    @foreach (Product product in Model.Collection)
    {
        <div class="border border-2 card-product margin5px">
            @*produtos*@
            @{
                var imageUrl = @Url.Action("ConvertToImageSRC", "Products", new { Id = product.Id });

                <img class="border border-3 border-color spacing img border-radius" src="@imageUrl" alt="@string.Format("{0}.png", product.Name)" />
            }

            <form method="post">

                <div class="w-100 d-grid">
                    <div class="row">

                        <div class="col ">

                            <button class=" formIconButton FontIcon material-icons marginTop10px " type="submit"
                                    asp-controller="Products" asp-action="AddToShoppingCart" asp-route-Id="@product.Id">
                                shopping_cart
                            </button>
                        </div>

                        @if (user?.UserType == UserType.Admin)
                        {

                            <div class="col ">

                                <button class=" formIconButton FontIcon material-icons marginTop10px " type="submit"
                                        asp-controller="Products" asp-action="Product" asp-route-Id="@product.Id">
                                    edit
                                </button>
                            </div>

                            <div class="col-auto">

                                @*data-bs-toggle="modal" data-bs-target="#modalDialog"*@

                                <button type="button" class="formIconButton FontIcon material-icons marginTop10px "
                                        onclick="CreateModal('modalDialog','Modal','OpenModal','@product.Id')">
                                    delete
                                </button>
                            </div>
                            @*<a class="material-icons FontIcon marginTop10px align-self-end" asp-controller="Products" asp-action="Delete"
                                asp-route-Id="@product.Id" >delete</a>*@
                        }
                    </div>
                </div>
            </form>



            <div class="margin5px">
                <div class="d-flex flex-column">
                    <h4 class="spacing row marginTop10px center">@product.Name</h4>
                    <h5 class="spacing row marginTop10px end">R$@product.Price</h5>
                    <div class="spacing row overflow-auto cardContent marginTop10px">
                        <label>@product.Description</label>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (user?.UserType == UserType.Admin)
    {
        @*botão de adicionar novo produto*@
        @*centralizar o botão(e remover a borda da div depois)*@
        <div class="container margin10px">

            <a class=" button" asp-controller="Products" asp-action="Product">
                Novo Produto
            </a>
        </div>
    }

</div>

@await Component.InvokeAsync("Pagination", Model)

<!-- Modal -->
<div class="modal fade" id="modalDialog" tabindex="-1" aria-labelledby="modalDialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDialog">
                    <label id="labelTitle"></label>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label id="labelMessageBody"></label>
            </div>
            <div class="modal-footer">
                <form method="post">
                    <button type="submit" class="btn btn-primary" id="modalConfirmDelete">
                        Confirmar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/ModalManager.js"></script>

