
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/CartProductStyle.css" rel="stylesheet" />

@model OnlineST.Models.Pagination.PaginationModel<CartProduct>

@using OnlineST.Models.Pagination;

@{
    var cartProductPaginatedCollection = Model.PaginatedCollection as IPaginatedCollection<CartProduct>;
}


@{


    if (cartProductPaginatedCollection?.Collection.Count() > 0)
    {
        <div class="d-flex flex-md-row flex-wrap gap-4 margin5px ">
            @foreach (CartProduct cartProduct in cartProductPaginatedCollection.Collection)
            {
                <div class="d-flex flex-column card-ShoppingCartProduct padding3px marginSides5px text-center ">

                    @{
                        var imageUrl = @Url.Action("ConvertToImageSRC", "ShoppingCart", new { Id = cartProduct.Id });

                        <img class="center img border border-3 border-color spacing border-radius" src="@imageUrl"
                             alt="@string.Format("{0}.png", cartProduct.Product.Name)"
                             style="width:200px" />
                    }
                    <h3 class="word-wrap">@cartProduct.Product?.Name</h3>
                    <label>Quantidade @cartProduct.Amount</label>
                    <label>@cartProduct.Product?.Description</label>

                    <form method="post">

                        <div class="w-50 mx-auto d-flex">
                            <button class=" formIconButton FontIcon material-icons  " type="button"
                                    onclick="CreateModal('modalDialog','Modal','CartOpenModal','@cartProduct.Id')">
                                delete
                            </button>
                        </div>

                    </form>
                </div>
            }

            <div class="container-fluid d-flex flex-column-reverse ">

                <button class="button align-self-end w-25" style="height:50px">Confirmar compra</button>
            </div>

        </div>

        @await Component.InvokeAsync(typeof(OnlineST.Components.PaginationViewComponent), Model)
    }

    else
    {
        <div class="d-flex justify-content-center" style="height:100%; width:100%">
            <h2 class="center">Carrinho vazio</h2>
        </div>
    }

}

<!-- Modal -->
<div class="modal fade" id="modalDialog" tabindex="-1" aria-labelledby="modalDialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDialog">
                    <label id="labelTitle"></label>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label id="labelMessageBody"></label>
            </div>
            <div class="modal-footer">
                <form method="post">
                    <button type="submit" class="btn btn-primary" id="modalConfirmDelete">
                        Confirmar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/ModalManager.js"></script>

